{% extends 'base.html' %}
{% block title %} Mwel application{% endblock %}
{% block content%}
    <div id="">
        <h1>Start your journey</h1>
        <h5>complete exercises daily to start cumulating your points</h5>
    </div>
    <div id="">
        <h1>Introduction</h1>
        <ul>
            <li><p>Science and Facts about stress</p>
                <p>Knowledge</p>
            </li>
            <li>
                <p>Stress, wellmness, & Stress-Management Assessment</p>
                <p>Self Appraisal & awareness</p>
            </li>
            <li>
                <p>My Wellness Report</p>
                <p>Areas for Growth and Growth Tracking</p>
            </li>
            <li>
                <p>My Wellness & Resilience Training</p>
                <p>Strategy Learning and Personalized coaching</p>
            </li>
        </ul>
    </div>
    <div id="">
        <button>Start Program</button>
    </div>
{% endblock %}